.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex: 0 15%;
  height: 30px;
  margin-bottom: 2%; /* (100-32*3)/2 */
  border: rgb(11, 172, 6) 2px solid;
  text-align: center;
  padding-top: 10px;
  color: rgb(58, 59, 52);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.item a {
  color: rgb(58, 59, 52);
}
.item a:hover {
  color: rgb(29, 209, 23);
}
.headtitle {
  font-size: xxx-large;
  color: rgb(39, 192, 75);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 10px;
  space-between;
  text-align: center;
}

/* Profile Card */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.role {
  color: grey;
  font-size: 12px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #CCFFCC;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}
